<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	
	<link rel="stylesheet" type="text/css" href="./style.css">
	<html xmlns:th = "http://www.thymeleaf.org"></html>

	<title>Review</title>
</head>
<body>
<main>
	<div id=reviewsByCat>
		<article>
		<h2 th:text= "${review.title}"></h2>
		<img id = "imageUrl" th:src= "${review.imageUrl}"/><br/>
		<p th:text = "${review.content}"></p>

		<section id="comments">
				<form method = "POST" th:action="@{/add-comment}">
					<div  class="column">
						<label>Share Your Comments:</label>
						<input type="text" name="comment"/>
					</div>
					
					<div  class="column">
						
						<input type="hidden" th:value="${review.id}" name="id"/>
					</div>
					
					<div  class="column">
					<button>Post Comment</button>
					</div>
				</form>
				<ul>
					<li class="column" id="commentText" th:each = "comment: ${review.comments}"> <a class="column" th:text="${comment.comment}"></li>
					
				</ul>
				</section>
		<ul>
			<li>
				<h3>Tags: <a th:each="tag: ${review.tags}" th:href="@{/tag(id=${tag.id})}" th:text=" ${tag.name} + ' '"></a>
				</h3>
			</li>
		</ul>
	</article>
	</div>

			<form method="POST">
			<input type="text" name="name" placeholder="Add a Tag"/>
			<input name="id" type="hidden" th:value="${review.id}"/>
			<button th:formaction="@{/add-tags}">Add</button>
	</form>

	
	<ul id="tag">
		<li th:each="tag: ${review.tags}">
		<form method="POST" th:action="@{/delete-tags}">
		<input name="reviewId" type="hidden" th:value="${review.id}"/>
		<input name="tagId" type="hidden" th:value="${tag.id}"/>
		<span th:text=" ${tag.name} + ' '"></span>
		<input type="submit" value="X"/>
		</form>

		</li>
	</ul>

  
	<!-- <form th:action="@{/review(id=${review.id})}" method="post">
		<div>
		<textarea name="comments" id="${review.id}" style="font-family:sans-serif;font-size:1.2em;">
		</textarea>
		</div>
		<input type="submit" value="Post Comment"/>
	</form> -->


	
<nav>
		<a href="http://localhost:8080/show-categories">Homepage</a>
</nav>
</main>
</body>
</html>
