<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./style.css">
	<html xmlns:th = "http://www.thymeleaf.org"></html>
</head>
    
            <div id=reviewsbyTag>
                    <h1 th:text="${tag.name}"></h1>
                    <article th:each= "review: ${tag.reviews}">
                    <h2 th:text="${review.title}"></h2>
                    <img id = "imageUrl" th:src= "${review.imageUrl}"/>	
                    <p th:text="${review.content}"></p>
                    </article>
                </div>
        </article>
        </div>
<body>
    
</body>
</html>